go 1.27.0

use (
	./crypto
	./chaincode/transaction
	./chaincode/asset
	./api
	./indexer
	./audit-service
	./ttd/core
	./ttd/server
	./ttd/tools/ca-admin
	./ttd/tools/tls-selfsigned
	./network/tools/office-node
)
